@import url("https://fonts.googleapis.com/css?family=Roboto:300");

.container {
    width: 1280px;
    height: 843px;
    position: relative;
    left: 110px;
    bottom: 80px;
    margin-top: 160px;
}

/* image 1 section */


.image1 {
    width: 587px;
    height: 691px;
    border: solid #EDF0F8;
}

.img1 {
    width: 582px;
    height: 691px;
    position: relative;
    left: 5px;
    gap: 0px;
    border-radius: 4px 10px 10px 4px;
    border: 0px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #EDF0F8;
}

/* images bits section */

.image2 {
    width: 520px;
    height: 115px;
    margin-top: 30px;
    position: relative;
    left: 38px;
}

/* 1 */
.img2 {
    height: 115px;
    width: 115px;
    border: 3px solid #3A4980;
    border-radius: 5px;
    position: relative;
    bottom: 3px;
}

/* 2 */
.img3 {
    height: 115px;
    width: 115px;
    border-radius: 5px;
    position: relative;
    left: 10px;
    bottom: 6px;

}

/* 3 */
.img4 {
    height: 115px;
    width: 115px;
    border-radius: 5px;
    position: relative;
    left: 20px;
    bottom: 6px;

}

/* 4 */
.img5 {
    height: 115px;
    width: 115px;
    border-radius: 5px;
    position: relative;
    left: 30px;
    bottom: 6px;
}

/* box2  */
.box {
    width: 582px;
    height: 64px;
    gap: 0px;
    justify: space-between;
    opacity: 0px;
    position: relative;
    bottom: 840px;
    left: 690px;
}

/* box1 */
.box1 {
    width: 68px;
    height: 19px;
    color: #B9BBBF;
}

/* box2 */
.box2 {
    width: 265px;
    height: 34px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.89px;
    text-align: left;
    position: relative;
    top: 10px;

}

/* line */
.line {
    width: 582px;
    height: 0px;
    gap: 0px;
    opacity: 0px;
    border: 1px solid #E4E4E4;
    position: relative;
    bottom: 825px;
    left: 690px;
}

/* box3 */
.box3 {
    width: 183px;
    height: 72px;
    position: relative;
    bottom: 808px;
    left: 690px;
}

/* box3a */
.box3a {
    font-family: Inter;
    font-size: 34px;
    font-weight: 700;
    line-height: 41.15px;
    text-align: left;
    color: #3A4980;

}

/* box3b */
.box3b {
    font-family: Inter;
    font-size: 21px;
    font-weight: 400;
    line-height: 25.41px;
    text-align: left;
    text-decoration: line-through;
    color: #00000080;
    position: relative;
    top: 5px;

}

/* box4 */
.box4 {
    width: 81px;
    height: 25px;
    position: relative;
    bottom: 895px;
    left: 860px;
    font-family: Inter;
    font-size: 21px;
    font-weight: 400;
    line-height: 25.41px;
    text-align: left;
    color: #FF000080;
    margin-top: 21px;
}

.line1 {
    width: 582px;
    height: 0px;
    gap: 0px;
    opacity: 0px;
    border: 1px solid #E4E4E4;
    position: relative;
    bottom: 850px;
    left: 690px;

}

/* box4 */
.box5 {
    width: 292px;
    height: 96px;
    position: relative;
    bottom: 835px;
    left: 690px;
}

/* colorboxs */
.colorboxs {
    width: 292px;
    height: 64px;
    margin-top: 5px;
}

.colorboxs1 {
    width: 64px;
    height: 64px;
    border: 3px solid #ECDECC;
}

.colorboxs1a {
    width: 50px;
    height: 50px;
    background-color: #ECDECC;
    position: relative;
    top: 6.8px;
    left: 7px;
}

.imge {
    width: 23.75px;
    height: 19.38px;
}

.img7 {
    position: relative;
    left: 14px;
    top: 15px;
}

.colorboxs2 {
    width: 64px;
    height: 64px;
}

.colorboxs2a {
    width: 50px;
    height: 50px;
    background-color: #bbd278;
    position: relative;
    bottom: 60px;
    left: 82px;
}

.colorboxs3 {
    width: 64px;
    height: 64px;
}

.colorboxs3a {
    width: 50px;
    height: 50px;
    background-color: #BBC1F8;
    position: relative;
    bottom: 124px;
    left: 145px;
}

.colorboxs4 {
    width: 64px;
    height: 64px;
}

.colorboxs4a {
    width: 50px;
    height: 50px;
    background-color: #FFD3F8;
    position: relative;
    bottom: 188px;
    left: 220px;
}

/* box4a */
.box4a {
    width: 118px;
    height: 19px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    color: #B9BBBF;
}

/* box4b */
.box4b {
    width: 292px;
    height: 64px;
    border: solid black;
    margin-top: 5px;
}

/* line2 */
.line2 {
    width: 582px;
    height: 0px;
    gap: 0px;
    opacity: 0px;
    border: 1px solid #E4E4E4;
    position: relative;
    bottom: 825px;
    left: 690px
}

/* box6 */

.box6 {
    width: 497px;
    height: 64px;
    position: relative;
    bottom: 815px;
    left: 690px;
}

/* box6a */
.box6a {
    width: 109px;
    height: 19px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    color: #B9BBBF;
}

.box6b {
    display: flex;
    margin-top: 10px;
}

.small12 {
    color: #3A4980;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;

}

.small13 {
    color: #726c6c;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;

}

.small14 {
    color: #726c6c;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;

}

.small15 {
    color: #726c6c;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;

}

.small16 {
    color: #726c6c;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;

}

.radiosize {
    background-color: #F3F3F3;
    margin: 2px;
    border-radius: 7px;
}

.radiosize input[type="radio"]:checked+label {
    color: #3A4980;
}

.colorbox {
    width: 50px;
    height: 50px;
    margin: 10px;
}


/* box7 */
.box7 {
    width: 497px;
    height: 59px;
    /* border-radius: 29.5px 0px 0px 0px; */
    position: relative;
    bottom: 795px;
    left: 690px;
}

/* box7a */
.box7a {
    width: 169px;
    height: 59px;
    background-color: #E4E4E4;
    border-radius: 30px;
}

/* box7a1 */
.box7a1 {
    width: 9px;
    height: 22px;
    position: relative;
    left: 40px;
    top: 20px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 1000;
    line-height: 21.78px;
    text-align: left;
    color: #A3A3A3;
}

/* box7a2 */
.box7a2 {
    width: 11px;
    height: 27px;
    position: relative;
    left: 80px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.63px;
    text-align: left;
    color: #3A4980;
}

/* box7a3 */
.box7a3 {
    width: 13px;
    height: 22px;
    position: relative;
    left: 120px;
    bottom: 25px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;
    line-height: 21.78px;
    text-align: left;
    color: #3A4980;

}

/* box7b */

.box7b {
    width: 309px;
    height: 59px;
    position: relative;
    bottom: 59px;
    left: 185px;
    background-color: #3A4980;
    border-radius: 30px;
}

/* box7b1 */

.box7b1 {
    width: 124px;
    height: 21px;
    position: relative;
    top: 18px;
    left: 85px;
}

/* box7b1a */
.box7b1a {
    width: 93px;
    height: 19px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    color: white;
    position: relative;
    left: 30px;

}

/* box7b2a */
.box7b2a {
    width: 15.53px;
    height: 17.06px;
    position: relative;
    bottom: 19px;
}

/* img6 */
.img6 {}

/* box8 */
.box8 {
    width: 495px;
    height: 31px;
    position: relative;
    bottom: 780px;
    left: 690px;
    background-color: #E7F8B7;
    border-radius: 6px;
}

/* box8a */

.box8a {
    width: 457px;
    height: 17px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    text-align: center;
    color: #000000;
    position: relative;
    top: 08px;
    left: 10px;
}

/* line3 */

.line3 {
    width: 582px;
    border: 1px solid #E4E4E4;
    position: relative;
    top: 55px;
}

/* box9 */
.box9 {
    width: 558px;
    height: 224px;

    position: relative;
    top: 85px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: #A3A3A3;
}
